<div ng-controller='funnyphotos'>
<!-- <script type="text/css">
.containerdiv {
  border: 0;
  float: left;
  position: relative;
}
.cornerimage {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
 }
</script> -->
  <div style="float:right;padding-right:50px">
  <br>
    <form>
     Search: <input placeholder='Enter search query' ng-model='liveSearch'>
    </form>
    <br>
  <table border="1px" cellpadding="5px" width="300" height="100">
    <tr>
     <th>Top Funny Images</th>
    </tr>
    <tr ng-repeat="pic in photos | orderBy:'-likes' | filter:liveSearch" ng-click='click()'>
      <td>{{ pic.title }}</td>
    </tr>
  </table>
  <br>
    <img ng-click="like()" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/arrow-up-128.png" style="width:30px">
  {{ current.likes }} &nbsp;
  <img ng-model="status2" ng-click="dislike()" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/arrow-down-128.png" style="width:30px">
  {{ current.dislikes }}
  <br><br>
  Comments:
    <p ng-repeat='each in current.comments'>
    <b>{{each.user}}</b>: {{each.text}}
    </p>
    <form name="commentForm" ng-submit="addComment()">
    Comment: <input type="text" placeholder="Enter comment here.." ng-model="comment.text"> <button type="submit">Submit</button>
    </form>
  </div>
  <br>
<!--   <select ng-model='selectedPicture'
          ng-change='select(selectedPicture)'
          data-ng-options='photo as photo.rating for photo in photos'>
  </select> -->
  <br>
  <br>

<!--   <table border="1px" cellpadding="5px" width="300" height="100">
    <tr>
     <th>Favorites</th>
    </tr>
    <tr ng-repeat="pic in photos" ng-if="pic.rating >= 4" ng-click='click()'>
      <td>{{ pic.title }}</td>
    </tr>
  </table> -->

<!--   <img style="position:relative" src="{{ current.url }}" height="350px">
  <div style="position:absolute;bottom:0;left:250px;top:350px;right:0;"><img style="width:120px" src="https://media.giphy.com/media/cPO6DKCQiyqPK/giphy.gif"></div> -->

  <div style="float:left">
  <img src="{{ current.url }}" width="520px">
  <br><b>Title:</b> {{ current.title }}
<!--   <select ng-model='currRate'
          ng-change='rater(currRate)'
          data-ng-options='rate as rate for rate in rating'>
  <option value="">Change Photo Rating</option> -->
  </select>
  <br><br>

   <form name="imageForm" ng-submit="addPhoto()">
   Upload Image<br>
   Link: <input type="url" name="url" placeholder="Image Link" ng-model="submit.url"> Image Title: <input type="text" placeholder="Image Title" ng-model="submit.title"> <button type="submit">Save Photo</button>
    </form>
    <br><br>
<!--   <img width="20px" height="20px" src="https://cdn2.iconfinder.com/data/icons/32pxmania/misc_58.png">
  <img width="20px" height="20px" src="https://cdn2.iconfinder.com/data/icons/32pxmania/misc_58.png">
  <img width="20px" height="20px" src="https://cdn2.iconfinder.com/data/icons/32pxmania/misc_58.png">
  <img width="20px" height="20px" src="https://cdn2.iconfinder.com/data/icons/32pxmania/misc_58.png">
  <img width="20px" height="20px" src="https://cdn2.iconfinder.com/data/icons/32pxmania/misc_58.png"> -->

  </div>

  </div>